html
	head
		title= shop
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")
		link(rel="stylesheet", href="../styles/custome.css")
		link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.2.0/css/all.css")
		link(href="https://fonts.googleapis.com/css?family=Lato&display=swap", rel="stylesheet")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
		script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")

	body(style="overflow-x: hidden")
		.header
			.d-flex.bk-head
				.d-flex.mt-2.pt-2.support
					i.ml-3(class="fas fa-phone-volume fa-2x")
					p.ml-2.pt-2 Support free: 033.6511.283
		
			nav(class="navbar navbar-expand-lg navbar-light bg-light")
				a.logo(class="navbar-brand" href="https://coders-x.com/")
					img(src="../images/logo.png", width="150", height="30", alt="")
				// nav-bar responsive
				button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent")
					span.navbar-toggler-icon
				div.items(class="collapse navbar-collapse", id="navbarSupportedContent")
					ul(class="navbar-nav ml-auto")
						li.nav-item.active
							a.nav-link(href="/") Home	
						li.top-bar-product(class="nav-item")
							a.product(class="nav-link" href="/products") Products
							ul.sub-menu
								.item-menu
									li.item Lipstick
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Matte Lipstick
									li.item 
										i.fas.fa-angle-double-right
										a(href="#")
											span  Lip gloss
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Creame lipstick
									li.item 
										i.fas.fa-angle-double-right
										a(href="#")
											span  Lip tint
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Pearly lipstick
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Lip balm
								.item-menu
									li.item serum
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Matte Lipstick
									li.item 
										i.fas.fa-angle-double-right
										a(href="#")
										span  Lip gloss
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Creame lipstick
									li.item 
										i.fas.fa-angle-double-right
										a(href="#")
											span  Lip tint
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Pearly lipstick
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Lip balm
								.item-menu
									li.item sun block
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Matte Lipstick
									li.item 
										i.fas.fa-angle-double-right
										a(href="#")
											span  Lip gloss
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Creame lipstick
									li.item 
										i.fas.fa-angle-double-right
										a(href="#")
											span  Lip tint
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Pearly lipstick
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Lip balm
							// a(class="nav-link" href="/transfers/create") Transfer
						li.nav-item.top-bar-product
							a.product.nav-link(href="#") Blog
							ul.sub-menu
								.item-menu
									li.item Lipstick1
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Matte Lipstick
									li.item 
										i.fas.fa-angle-double-right
										a(href="#")
											span  Lip gloss
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Creame lipstick
									li.item 
										i.fas.fa-angle-double-right
										a(href="#")
											span  Lip tint
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Pearly lipstick
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Lip balm
								.item-menu
									li.item Lipstick1
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Matte Lipstick
									li.item 
										i.fas.fa-angle-double-right
										a(href="#")
											span  Lip gloss
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Creame lipstick
									li.item 
										i.fas.fa-angle-double-right
										a(href="#")
											span  Lip tint
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Pearly lipstick
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Lip balm
								.item-menu
									li.item Lipstick1
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Matte Lipstick
									li.item 
										i.fas.fa-angle-double-right
										a(href="#")
											span  Lip gloss
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Creame lipstick
									li.item 
										i.fas.fa-angle-double-right
										a(href="#")
											span  Lip tint
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Pearly lipstick
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Lip balm
						li.nav-item.top-bar-product
							a.product.nav-link(href="#") Contact
							ul.sub-menu
								.item-menu
									li.item Lipstick2
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Matte Lipstick
									li.item 
										i.fas.fa-angle-double-right
										a(href="#")
											span  Lip gloss
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Creame lipstick
									li.item 
										i.fas.fa-angle-double-right
										a(href="#")
											span  Lip tint
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Pearly lipstick
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Lip balm
								.item-menu
									li.item Lipstick2
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Matte Lipstick
									li.item 
										i.fas.fa-angle-double-right
										a(href="#")
											span  Lip gloss
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Creame lipstick
									li.item 
										i.fas.fa-angle-double-right
										a(href="#")
											span  Lip tint
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Pearly lipstick
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Lip balm
								.item-menu
									li.item Lipstick2
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Matte Lipstick
									li.item 
										i.fas.fa-angle-double-right
										a(href="#")
											span  Lip gloss
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Creame lipstick
									li.item 
										i.fas.fa-angle-double-right
										a(href="#")
											span  Lip tint
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Pearly lipstick
									li.item
										i.fas.fa-angle-double-right
										a(href="#")
											span  Lip balm
						if !user
							li.nav-item
								a(class="nav-link" href="/auth/login") Login
							li.nav-item
								a(class="nav-link" href="/accounts/create") Create Account		
						a.cart(class="nav-link" href="/cart")
							i(class="fas fa-shopping-cart fa-2x")
							span= sumCart || ''
						if user
							//- li.nav-item
							//- 	p.mt-2(style="font-size: 14px")= user.name
							li.nav-item
								a(class="nav-link" href="#") Logout

			#carouselExampleIndicators.carousel.slide(data-ride="carousel", data-interval="2000")
				.sale
					p Sale off 30%
					h2 New Collection 2019
				button.btn.btn-outline-warning#btn-shop-now(type="button")
					a.link-shop(class="nav-link" href="/products") SHOP NOW
				// ol.carousel-indicators
				// 	li.active(data-target="#carouselExampleIndicators", data-slide-to="0")
				// 	li(data-target="#carouselExampleIndicators", data-slide-to="1")
				// 	li(data-target="#carouselExampleIndicators", data-slide-to="2")
				.carousel-inner(role="listbox")
					.carousel-item.active
						img.d-block.w-100(src="https://res.cloudinary.com/dcailib1d/image/upload/v1568474976/ImagesExpress/slideshow5_dzkffx.jpg", alt="...")
					.carousel-item
						img.d-block.w-100(src="https://res.cloudinary.com/dcailib1d/image/upload/v1568474998/ImagesExpress/slideshow1_bxy9oy.jpg", alt="...")
					.carousel-item
						img.d-block.w-100(src="https://res.cloudinary.com/dcailib1d/image/upload/v1568474976/ImagesExpress/slideshow5_dzkffx.jpg", alt="...")
				a.left.carousel-control(href='#carouselExampleIndicators', role='button', data-slide='prev')
					span.carousel-control-prev-icon(aria-hidden='true')
					span.sr-only Previous
				a.right.carousel-control(href='#carouselExampleIndicators', role='button', data-slide='next')
					span.carousel-control-next-icon(aria-hidden='true')
					span.sr-only Next
		.container
			.row
				.col-sm.border-benifit.border-left
					.single-service
						.box-item
							i.fa-2x(class="fas fa-plane")
						p.box-title FREE SHIPPING
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo blanditiis odio.
				.col-sm.border-benifit
					.single-service
						.box-item
							i.fa-2x(class="fas fa-money-check-alt")
						p.box-title MONEY BACK
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo blanditiis odio.
				.col-sm.border-benifit
					.single-service
						.box-item
							i.fa-2x(class="fas fa-headphones")
						p.box-title ONLINE SUPPORT
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo blanditiis odio.
				.col-sm.border-benifit.border-right
					.single-service
						.box-item
							i.fa-2x(class="fas fa-briefcase")
						p.box-title BONUS PLUS
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo blanditiis odio.
			.row.pb-5.pt-5
				.col-sm.box-img
					span.border-style-left
					span.border-style-right
					span.border-style-top
					span.border-style-bottom
					a(href="#")
						img.card-img-top(src="https://res.cloudinary.com/dcailib1d/image/upload/v1568446355/ImagesExpress/pic1_qkgxpf.jpg", alt="...")
				.col-sm.box-img
					span.border-style-left
					span.border-style-right
					span.border-style-top
					span.border-style-bottom
					a(href="#")
						img.card-img-top(src="https://res.cloudinary.com/dcailib1d/image/upload/v1568446337/ImagesExpress/pic2_kdplhs.jpg", alt="...")
				.col-sm.box-img
					span.border-style-left
					span.border-style-right
					span.border-style-top
					span.border-style-bottom
					a(href="#")
						img.card-img-top(src="https://res.cloudinary.com/dcailib1d/image/upload/v1568446392/ImagesExpress/pic3_ystnqg.jpg", alt="...")
		// 3 tab moi tab 4 san pham
		// dung vong lap de lay ra san pham tu middleware
		p.feature-product feature product
		ul.container#myTab.nav.nav-tabs.tab-list(role='tablist')
			li.nav-item.tab-items
				a#home-tab.nav-link.active(data-toggle='tab' href='#home' role='tab' aria-controls='home' aria-selected='true') FEATURED
			li.nav-item.tab-items
				a#profile-tab.nav-link(data-toggle='tab' href='#profile' role='tab' aria-controls='profile' aria-selected='false') LATEST
			li.nav-item.tab-items
				a#contact-tab.nav-link(data-toggle='tab' href='#contact' role='tab' aria-controls='contact' aria-selected='false') SPECIAL
		.container#myTabContent.tab-content
			#home.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='home-tab')
				.row
					each productFeatured in productsFeatured
						.col-sm
							.box-add-cart
								a(href=`/cart/add/${productFeatured.id}`)
									button.btn-add-cart ADD TO CART
										i.fas.fa-cart-plus.fa-2x
								a(href=`/products/${productFeatured.id}`)
									img.card-img-top(src= productFeatured.image, alt="...")
							.price-cart
								p= productFeatured.name
								p $90.00
									span(style="text-decoration: line-through") $100.000
			#profile.tab-pane.fade(role='tabpanel' aria-labelledby='profile-tab')
				.row
					each productLatest in productsLatest
						.col-sm
							.box-add-cart
								a(href=`/cart/add/${productLatest.id}`)
									button.btn-add-cart ADD TO CART
										i.fas.fa-cart-plus.fa-2x
								a(href=`/products/${productLatest.id}`)
									img.card-img-top(src= productLatest.image, alt="...")
							.price-cart
								p= productLatest.name
								p $90.00
									span(style="text-decoration: line-through") $100.000
			#contact.tab-pane.fade(role='tabpanel' aria-labelledby='contact-tab')
				.row
					each productSpecial in productsSpecial
						.col-sm
							.box-add-cart
								a(href=`/cart/add/${productSpecial.id}`)
									button.btn-add-cart ADD TO CART
										i.fas.fa-cart-plus.fa-2x
								a(href=`/products/${productSpecial.id}`)
									img.card-img-top(src= productSpecial.image, alt="...")
							.price-cart
								p= productSpecial.name
								p $90.00
									span(style="text-decoration: line-through") $100.000
		// footer
		.footer
			.container
				.row.mt-5
					.col-sm-4
						.about-us
							p.footer-title About Us
							p Lorem ipsum dolor sit, amet cons ectetur adipis icing elit. Nobis expedita dolorem minus eaque cupid itate repud iandae mollitia veritatis sim ilique, cumque arch itecto ectetur ectetur.
							ul
								li 
									i.fab.fa-facebook-square.fa-2x
								li
									i.fab.fa-instagram.fa-2x
								li
									i.fab.fa-google.fa-2x
								li
									i.fab.fa-twitter.fa-2x
					.col-sm-2
						.product-us
							p.footer-title Product 
								ul
									li 
										i.fab.fa-product-hunt
										span Sliptick
									li 
										i.fab.fa-product-hunt
										span Sliptick
									li 
										i.fab.fa-product-hunt
										span Sliptick
									li 
										i.fab.fa-product-hunt
										span Sliptick
									li 
										i.fab.fa-product-hunt
										span Sliptick
					.col-sm-2
						.resource
							p.footer-title Resource
								ul
									li 
										i.fa.fa-paperclip
										span Facebook.com
									li 
										i.fa.fa-paperclip
										span Facebook.com
									li 
										i.fa.fa-paperclip
										span Facebook.com
									li 
										i.fa.fa-paperclip
										span Facebook.com
									li 
										i.fa.fa-paperclip
										span Facebook.com
					.col-sm-4
						.contact-us
							h.footer-title Contact
							ul 
								li
									i.fas.fa-map-marker-alt
									span Address: Da Nang City - Viet Nam
								li
									i.fab.fa-facebook-f
									span Facebook: coderx.facebook.com
								li
									i.far.fa-envelope
									span Email: Sonqueen.no1@gmail.com
								li
									i.fas.fa-mobile-alt
									span Phonenumber: 033.6511.283
								li
									i.fab.fa-instagram
									span Instagram: coderx.instagr
				.row.mt-5
					.copyright
						p Copyright 2019 CodersTokyo. All Rights Reserved

		script(type="text/javascript").
			$(document).ready(function(){
				$('.carousel').carousel(interval: 2000);
			});

 


  				
  			


			
		