extends ../layout/common.pug

block content
	h1 
		span Cart 
		form.ml-auto.d-flex(action="users/search", method="GET")
			input.form-control.mr-sm-2(id="input-field", type="text", name="q", placeholder="Search", aria-label="Search")
			button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search
	p số loại sản phẩm  
		span=   sumCart || 0

	.row
		.col-sm-8
			table.table
				each product in products
					tr
						td(style="width:100px")
							img.cart-img(src=product.image alt="")
						td
							.info-product
								p= product.name
								a.badge.badge-primary(href="#") Delete
						td
							.price-product
								p= product.price

		col-sm-2
			table.table
				each session in sessions.cart
					tr
						td
							.total-quantity 
								p=session.quantity
		.col-sm.col-pay
			table.table
				tr
					th
						b Total Price:
					td= priceSum
					
				tr
					th
						b ProductSum
					td= productSum
				tr 
					th 
						b Shipping
					td
			form(action="cart/checkout", method="GET", style="width:100%")
				button.btn.btn-outline-success(type="submit", style="width:100%") Go to checkout
	
	
		
