extends ../layout/common.pug

block content
	h1 
		span Cart 

	p số loại sản phẩm  
		span=   sumCart || 0

	.row
		.col-sm-6
			table.table
				each product in products
					tr
						td(style="width:100px")
							img.cart-img(src=product.image, alt="")
						td
							.info-product
								p= product.name
								a.badge.badge-primary(href="#") Delete
						td
							.price-product
								p= product.price

		.col-sm-2
			table.table
				each session in sessions.cart
					tr.total-quantity 
						// td
						// 	.total-quantity 
						// 		p=session.quantity
						td(data-th='Quantity')
							input.form-control.text-center(value=session.quantity, type='number')
		.col-sm.col-pay
			table.table
				tr
					th
						b Total Price:
					td= priceSum
					
				tr
					th
						b ProductSum
					td= productSum
				tr 
					th 
						b Shipping
					td
			form(action="cart/checkout", method="GET", style="width:100%")
				button.btn.btn-outline-success(type="submit", style="width:100%") Go to checkout
	
	
		
