extends ../layout/common.pug

block content
	h1 
		span Cart 

	p số loại sản phẩm  
		span=   sumCart || 0

	.row
		each product in products
			.col-sm-8.info-pro
					img.img-pro(src=product.image, alt="")
					ul.details-pro
						li
							p.name-pro= product.name
							p.description-pro= product.description
							p.stock-pro Instock
					ul.bonus-pro
						li
							p $
								span= product.price
						li
							p 30
						li.delete-pro
							a(href=`/cart/delete/${product.id}`)
								i.fas.fa-trash
			.col-sm.col-pay
				table.table
					tr
						th
							b Total Price:
						td $
							span= priceSum
						
					tr
						th
							b ProductSum
						td= productSum
					tr 
						th 
							b Shipping
						td
				form(action="cart/checkout", method="GET", style="width:100%")
					button.btn.btn-outline-success(type="submit", style="width:100%") Go to checkout

		.col-sm-2
			table.table
				each session in sessions.cart
					tr.total-quantity 
						// td
						// 	.total-quantity 
						// 		p=session.quantity
						td(data-th='Quantity')
							input.form-control.text-center(value=session.quantity, type='number')
		
		.row 	
			
				

	
	
		
