extends ../layout/common.pug

block content
	h1 
		span Products
		form.ml-auto.d-flex(action="products/search", method="GET")
			input.form-control.mr-sm-2(id="input-field", type="text", name="q", placeholder="Search", aria-label="Search")
			button.btn.btn-outline-success.my-2.my-sm-0(type="submit") Search
	.row
		each product in products
			.col-sm-3
				.box-add-cart
					a(href="/cart/add/" + product.id)
						button.btn-add-cart ADD TO CART
							i.fas.fa-cart-plus.fa-2x
					a(href="/products/" + product.id)
						img.card-img-top(src= product.image, alt="...")
				.price-cart
						p= product.name
						p $90.00
							span(style="text-decoration: line-through") $100.000
						//- p(style="text-decoration: line-through") $100.000
			//- .col-sm-3
			//- 	.card
			//- 		img.card-img-top(src=product.image, alt="...")
			//- 		.card-body
			//- 			p.card-title(style="font-size: 15px")= product.name
			//- 			//- p.card-text= product.description
			//- 			a.btn.btn-primary(href='/products/' + product.id) Details
	nav.mt-5(aria-label='Page navigation example')
		ul.pagination
			li.page-item
				a.page-link(href='/products?page='+(page-1)) Previous
			// nếu trang hiện tại bằng với phần tử đầu tiên thì thêm .active
			if page === pageArray[0]
				li.page-item.active
					a.page-link(href='products?page='+pageArray[0])= pageArray[0]
			// nếu trang hiện tại không bằng với phần tử đầu tiên
			if page !== pageArray[0]
				li.page-item
					a.page-link(href='products?page='+pageArray[0])= pageArray[0]
			// nếu trang hiện tại bằng với phần tử thứ 2 thì thêm .active
			if page === pageArray[1]
				li.page-item.active
					a.page-link(href='products?page='+pageArray[1])= pageArray[1]
			// nếu trang hiện tại không bằng với phần tử thứ 2
			if page !== pageArray[1]
				li.page-item
					a.page-link(href='products?page='+pageArray[1])= pageArray[1]
			// nếu trang hiện tại bằng với phần tử thứ 3 thì thêm .active
			if page === pageArray[2]
				li.page-item.active
					a.page-link(href='products?page='+pageArray[2])= pageArray[2]
			// nếu trang hiện tại không bằng với phần tử thứ 3
			if page !== pageArray[2]
				li.page-item
					a.page-link(href='products?page='+pageArray[2])= pageArray[2]
			li.page-item
				a.page-link(href='/products?page='+(page+1)) Next
